{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro de usuario</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'users/css/register_users.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
    #map {
      height: 300px;
      width: 100%;
    }

    /* cuadro de búsqueda */
    .pac-container {
      position: absolute;
      z-index: 10000;
      width: 100%;
    }
  </style>
</head>

<body>

  <!-- Loader -->
  <div id="loaderContainer" class="loader-container">
    <div class="loader"></div>
  </div>

  <main>
    <div class="custom-box">
      <div class="custom-inner-box">
        <div class="custom-forms-wrap">
          <form action="index.html" autocomplete="off" class="sign-in-form" id="sign-in-form">
            {% csrf_token %}
            <div class="logo">
              <a href=""><img src="{% static 'users/images/Logo-Velaroma-Sin-FondoPEQUE.png' %}" alt="easyclass" /></a>
              <h4><a href="{% url 'homeUser' %}">Vela<span>roma</span></a></h4>
            </div>

            <div class="heading">
              <h2>Iniciemos</h2>
              <h6>¿Ya tienes una cuenta?</h6>
              <a href="{% url 'homeUser' %}?openModal=true" class="toggle">Inicia Sesión</a>
            </div>


            <div class="actual-form registrarse-actual-form">
              <div class="input-wrap">
                <input type="text" class="input-field" autocomplete="off" name="name" id="name" maxlength="30" required />
                <label>Nombre(s)</label>
              </div>

              <div class="input-wrap">
                <input type="text" class="input-field" autocomplete="off" name="lastname" id="lastname" maxlength="30" required />
                <label>Apellidos(s)</label>
              </div>

              <div class="input-wrap">
                <input type="text" class="input-field" autocomplete="new-email" name="email" id="email" maxlength="100" required />
                <label>Correo electrónico</label>
                <div class="custom-tooltip" id="error-email-tooltip"></div>
              </div>


              <div class="input-wrap">
                <input role="presentation" type="password" class="input-field" autocomplete="new-password" id="password" name="password" required />
                <label>Contraseña</label>
                <div class="custom-tooltip" id="password-error"></div>
              </div>


              <div class="input-wrap">
                <input type="password" class="input-field" autocomplete="off" id="confirm-password" disabled required onkeyup="SendWithEnter(event)" />
                <label>Repetir contraseña</label>
                <div class="custom-tooltip" id="confirm-password-error"></div>
              </div>


              <button type="button" class="sign-btn toggle" id="sign-btn" disabled>Continuar</button>

              <div class="input-wrap input-wrap-google">
                <a class="buttonGoogle" id="btnRegisterGoogle" href="{% url 'social:begin' 'google-oauth2' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                    <path fill="#4285F4"
                      d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027">
                    </path>
                    <path fill="#34A853"
                      d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1">
                    </path>
                    <path fill="#FBBC05"
                      d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782">
                    </path>
                    <path fill="#EB4335"
                      d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251">
                    </path>
                  </svg>
                  Registrarme con Google
                </a>
              </div>


              <script>

                document.getElementById('btnRegisterGoogle').addEventListener('click', function(e){

                  e.preventDefault();

                  window.location.href = '{% url 'social:begin' 'google-oauth2' %}'
                  
                });
              </script>


              <p class="text">
                Al registrarme, estoy de acuerdo a los
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target="_blank">Terminos y condiciones y Politicas de privacidad</a>
              </p>
            </div>

          </form>

          <form action="index.html" autocomplete="off" class="sign-up-form" id="sign-up-form">
            {% csrf_token %}
            <div class="logo">
              <a href=""><img src="{% static 'users/images/Logo-Velaroma-Sin-FondoPEQUE.png' %}" alt="easyclass" /></a>
              <h4><a href="{% url 'homeUser' %}">Vela<span>roma</span></a></h4>
            </div>

            <div class="heading registrarse-heading">
              <h2>Ubicación</h2>
            </div>

            <div class="actual-form ubicacion-actual-form">
              <div class="input-wrap">
                <input type="text" class="form-control input-field" id="addressInput" required onclick="openModal()">
                <label>Ubicar en el mapa</label>

              </div>


              <input type="hidden" id="latitude" name="latitude">
              <input type="hidden" id="longitude" name="longitude">

              <div class="input-wrap">
                <input type="text" class="input-field" autocomplete="off" name="houseNumber" id="houseNumber"
                  required />
                <label>Número de casa (Opcional)</label>
              </div>

              <div class="textarea-wrap">
                <textarea name="text" id="text" rows="1" oninput="autoGrowTextArea(this)" maxlength="100"
                  required></textarea>
                <label for="text">Indicaciones para la entrega</label>
              </div>
              <div class="label-area">
                <label class="custom-label" id="char-count-indicaciones">0/100</label>
              </div>

              <!-- Si necesitas un tooltip para el textarea, agrega este elemento -->
              <div class="textarea-tooltip" id="indicaciones-tooltip"></div>

              <div class="input-wrap">
                <input type="tel" class="input-field" maxlength="8" oninput="limitInputToEightDigits(event)"
                  name="telephoneNumber" id="telephoneNumber" autocomplete="off" required />
                <label>Número de teléfono</label>
              </div>

              <div class="input-wrap">
                <label>Nombre de esa dirección</label>
              </div>

              <div class="radio-buttons-container">
                <div class="radio-button">
                  <input name="radio-group" id="radio2" class="radio-button__input" type="radio">
                  <label for="radio2" class="radio-button__label">
                    <span class="radio-button__custom"></span>
                    Casa
                  </label>
                </div>
                <div class="radio-button">
                  <input name="radio-group" id="radio1" class="radio-button__input" type="radio">
                  <label for="radio1" class="radio-button__label">
                    <span class="radio-button__custom"></span>
                    Trabajo
                  </label>
                </div>
                <div class="radio-button">
                  <input name="radio-group" id="radio3" name="radio3" class="radio-button__input" type="radio">
                  <label for="radio3" class="radio-button__label">
                    <span class="radio-button__custom"></span>
                    Otros
                  </label>
                </div>
              </div>

              <input type="submit" value="Guardar ahora" class="sign-btn btn" style="margin-bottom: 0rem;" id="saveButton" />
              <input type="submit" value="Omitir" class="dismiss-btn" id="dismiss-btn" />

            </div>
          </form>
        </div>

        <div class="custom-carousel">
          <div class="images-wrapper">
            <img src="{% static 'users/images/Velaroma login+.png' %} " class="image img-1 show" alt="" />
            <img src="{% static 'users/images/ubication4.png' %}" class="image img-2" alt="" />
          </div>

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Paso No. 1</h2>
                <h2>Paso No. 2</h2>
                <h2></h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
              <span data-value="2"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Escoge tú <span>ubicación</span></h4>
          </div>

          <div class="modal-body">
            <div class="input-wrap mt-1">
              <input type="text" class="input-field" id="searchInput" placeholder="" autocomplete="off" required />
              <label for="otros-input">Busca un lugar</label>
            </div>
            <div class="mt-3" id="map"></div>
            <p class="mt-3"><strong>Ubicación seleccionada:</strong> <span id="selectedLocationLabel"></span></p>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn sign-btn" id="getLocationButton">Obtener dirección actual</button>
            <button type="button" class="btn sign-btn" id="saveLocation">Guardar</button>
          </div>



        </div>
      </div>
    </div>

    <!-- Modal alerts -->
    <div class="modal" id="modalAlerts">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modalAlertsBody">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal HTML -->
    <div class="modal" id="otrosModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="otrosModalLabel">Introduzca el nombre de la dirección</h5>
          </div>
          <div class="modal-body">

            <div class="textarea-wrap mt-3">
              <textarea name="text" id="otros-input" rows="1" oninput="autoGrowTextArea(this)" maxlength="5"
                required></textarea>
              <label for="text">Nombre</label>
            </div>
            <div class="label-area">
              <label class="custom-label" id="char-count">0/5</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="sign-btn" data-dismiss="modal" id="guardarBtn">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

   <!-- Error toast -->
   <div class="toast" style="top: 1rem; right: 1rem; position: fixed; z-index: 9999;">
    <div class="error">
      <div class="error__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
          <path fill="#393a37"
            d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z">
          </path>
        </svg>
      </div>
      <div class="error__title" id="titleToast"></div>
      <button type="button" class="error__close ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20">
          <path fill="#393a37"
            d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z">
          </path>
        </svg>
      </button>
    </div>
  </div>


   






  <!-- Javascript file -->
  <script src="{% static 'users/js/register_user.js' %}"></script>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkOE6tdxKR6yicdhzVF7109pAF_zMYzv4&libraries=places&callback=initMap"></script>


  <script>

  </script>



</body>

</html>