{% extends "layout.html" %} 

{% load static %}

{% block tittle %}Inicio{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}

<!-- Asegúrate de incluir la biblioteca GSAP en tu proyecto -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>



<!-- Start Hero Section -->
<div class="hero" id="seccion2">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Sumérgete en un ambiente <span clsas="d-block">dulce y aromático</span></h1>
          <p class="mb-4">Disfruta de momentos de relajación con nuestras veladoras aromáticas con diseño de panquesitos
          </p>
          <p><a href="" class="btn btn-secondary me-2">Comprar ahora</a><a href="#iniciosesion"
              class="btn btn-white-outline">Explore</a></p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="{% static 'home/images/Velaprueba.png' %}" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->



<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">

      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Nuestros productos <span> más vendidos</span></h2>
        <p class="mb-4">Descubre nuestros productos más vendidos: Siendo en los aromas favoritos de Fresa, Canela y
          Lavanda. Ilumina y perfuma tu espacio con lo mejor de Velaroma.</p>
        <p><a href="shop.html" class="btn">Ver más productos</a></p>
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src="{% static 'home/images/Vela3.png' %}" class="img-fluid product-thumbnail">
          <h3 class="product-title">Aroma a Fresa</h3>
          <strong class="product-price">C$ 70.00</strong>

          <span class="icon-cross">
            <img src="{% static 'home/images/cross.svg' %}" class="img-fluid">
          </span>
        </a>
      </div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src="{% static 'home/images/Velaprueba.png' %}" class="img-fluid product-thumbnail">
          <h3 class="product-title">Aroma a Canela</h3>
          <strong class="product-price">C$ 70.00</strong>

          <span class="icon-cross">
            <img src="{% static 'home/images/cross.svg' %}" class="img-fluid">
          </span>
        </a>
      </div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src="{% static 'home/images/Vela2.png' %}" class="img-fluid product-thumbnail">
          <h3 class="product-title">Aroma a lavanda</h3>
          <strong class="product-price">C$ 70.00</strong>

          <span class="icon-cross">
            <img src="{% static 'home/images/cross.svg' %}" class="img-fluid">
          </span>
        </a>
      </div>
      <!-- End Column 4 -->

    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<section id="video-section">
  <div class="why-choose-section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <h2 class="section-title">¿Por qué <span>elegirnos?</span></h2>
          <p>Si está buscando una forma de crear un ambiente acogedor y relajante en su hogar u oficina, le recomendamos
            que pruebe Velaroma.</p>

          <div class="row my-5">
            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'home/images/cupcake.png' %}" alt="Image" class="imf-fluid">
                </div>
                <h3><span><strong>Diseños únicos</strong></span></h3>
                <p>Los diseños en forma de cupcakes o panquesitos de las veladoras de Velaroma son únicos y se destacan
                  entre las opciones convencionales.</p>
              </div>
            </div>

            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'home/images/Time.png' %}" alt="Image" class="imf-fluid">
                </div>
                <h3><span><strong>Durabilidad</strong></span></h3>
                <p>Tienen una duración aproximada de 55 minutos antes de derretirse por completo. Esto garantiza una
                  experiencia prolongada de fragancia y luz suave.</p>
              </div>
            </div>

            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'home/images/Price.png' %}" alt="Image" class="imf-fluid">
                </div>
                <h3><span><strong>Precios competitivos</strong></span></h3>
                <p>Las veladoras Velaroma tienen un precio que es justo y asequible. Obtendrás veladoras de calidad a un
                  buen precio.</p>
              </div>
            </div>

            <div class="col-6 col-md-6">
              <div class="feature">
                <div class="icon">
                  <img src="{% static 'home/images/scent.png' %}" alt="Image" class="imf-fluid">
                </div>
                <h3><span><strong>Variedad de aromas cautivadores</strong></span></h3>
                <p> Ofrecemos una amplia gama de aromas irresistibles que satisfacen diferentes preferencias y crean
                  ambientes envolventes.</p>
              </div>
            </div>

          </div>
        </div>


        <div class="col-lg-5">
          <div class="img-wrap">
            <video id="player" playsinline muted controls
              src="{% static 'home/images/Velaroma_Video_FINAL.mp4' %}" alt="Video" class="img-fluid">
          </div>
        </div>
</section>

<script>
  var player = document.getElementById("player");
  var videoSection = document.getElementById("video-section");

  // Opciones de la instancia del IntersectionObserver
  var options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.1 // Se activará cuando al menos el 50% de la sección sea visible
  };

  // Función de callback para cuando la sección sea visible
  var handleSectionIntersection = function (entries, observer) {
    entries.forEach(function (entry) {
      if (entry.isIntersecting) {
        player.play();
      } else {
        player.pause();
        player.currentTime = 0;
      }
    });
  };

  // Crear una instancia de IntersectionObserver
  var observer = new IntersectionObserver(handleSectionIntersection, options);

  // Observar la sección
  observer.observe(videoSection);
</script>






<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1"><img src="{% static 'home/images/Vela-mantel.jpeg' %}"
              alt="Untree.co">
          </div>
          <div class="grid grid-2"><img src="{% static 'home/images/Candela mesa.png' %}"></div>
          <div class="grid grid-3"><img src="{% static 'home/images/Vela consumida.jpg' %}"></div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">Ambiente <span>acogedor y aromático</span></h2>
        <p>Las veladoras de Velaroma brindan un ambiente acogedor y relajante en cualquier espacio. Descubre cómo las
          veladoras aromáticas pueden iluminar y perfumar tu vida:</p>

        <ul class="list-unstyled custom-list my-4">
          <li><span><strong>Sala de estar:</strong></span> Coloca veladoras aromáticas en la mesa de centro para crear
            una atmósfera acogedora y relajante.</li>
          <li><span><strong>Oficina en casa: </strong></span>Enciende una veladora aromática en tu espacio de trabajo para ayudarte a relajarte y
            concentrarte.</li>
          <li><span><strong>Dormitorio:</strong></span> Enciende una veladora antes de dormir para disfrutar de un ambiente tranquilo y aromático.
          </li>
          <li><span><strong>Tiendas:</strong></span> Utiliza veladoras aromáticas para crear una experiencia agradable y envolvente para los clientes.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End We Help Section -->


<!-- Asegúrate de incluir la biblioteca GSAP en tu proyecto -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<!-- ... Tu código HTML ... -->

<script>
  // Función para crear una animación y mostrar elementos ocultos cuando la sección es visible
  function animateAndShowSection(sectionSelector, animations) {
    var section = document.querySelector(sectionSelector);

    var observer = new IntersectionObserver(function (entries, observer) {
      entries.forEach(function (entry) {
        if (entry.isIntersecting) {
          animations.forEach(function (animation) {
            gsap.fromTo(animation.target, animation.from, animation.to);
          });
          observer.unobserve(section);
        }
      });
    });

    // Inicialmente, ocultar los elementos de la sección
    gsap.set(section.querySelectorAll('.hidden-on-load'), { opacity: 0, y: 50 });

    observer.observe(section);
  }

  // Animaciones para la sección de Hero
  var heroAnimations = [
    {
      target: ".intro-excerpt h1",
      from: { opacity: 0, y: 50 },
      to: { opacity: 1, y: 0, duration: 1 },
    },
    // Agregar más animaciones aquí...
  ];

  // Animaciones para la sección de Productos
  var productsAnimations = [
    {
      target: ".product-item",
      from: { opacity: 0, y: 50 },
      to: { opacity: 1, y: 0, stagger: 0.2, duration: 1 },
    },
    // Agregar más animaciones aquí...
  ];

  // Animaciones para la sección "¿Por qué elegirnos?"
  var whyChooseUsAnimations = [
    {
      target: ".feature",
      from: { opacity: 0, y: 50 },
      to: { opacity: 1, y: 0, stagger: 0.2, duration: 1 },
    },
    // Agregar más animaciones aquí...
  ];

  // Animaciones para la sección "Ambiente acogedor y aromático"
  var ambianceAnimations = [
    {
      target: ".imgs-grid img",
      from: { opacity: 0, scale: 0.5 },
      to: { opacity: 1, scale: 1, stagger: 0.2, duration: 1 },
    },
    // Agregar más animaciones aquí...
  ];

  // Llamar a las funciones para animar las secciones cuando sean visibles
  animateAndShowSection(".hero", heroAnimations);
  animateAndShowSection(".product-section", productsAnimations);
  animateAndShowSection(".why-choose-section", whyChooseUsAnimations);
  animateAndShowSection(".we-help-section", ambianceAnimations);

  // Agregar más llamadas a animateAndShowSection para otras secciones...
</script>

<!-- ... Tu código HTML ... -->







{% endblock %}
{% block customJS %}
<script src="{% static 'home/js/scripts.js' %}"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
{% endblock %}

