{% extends "layout.html" %}

{% load static %}

{% block tittle %}Tienda{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="navegationLocation">

                    <h5><a href="{% url 'homeUser' %}">Inicio</a>/<span>Tienda</span></h5>

                </div>

                <style>
                    h4 {
                        color: #ff7373;
                        font-weight: bold;
                    }

                    h3 {
                        color: #2f2f2f;
                        font-weight: bold;
                    }

                    span {
                        color: #ff7373;
                        font-weight: bold;
                    }

                    .navegationLocation {
                        font-weight: bold;
                        color: #2f2f2f;
                    }

                    .navegationLocation span {
                        font-weight: bold !important;
                    }

                    .navigation h5 {
                        font-weight: bold;
                        color: #2f2f2f;
                    }

                    .navegationLocation a {
                        color: #2f2f2f;
                        text-decoration: none;
                    }

                    .navegationLocation a:hover {
                        font-weight: bold;
                        color: #ff7373;
                    }

                    .sidebar__item a {
                        color: #2f2f2f;
                        text-decoration: none;

                    }

                    .sidebar__item a:hover {
                        color: #ff7373 !important;
                        font-weight: bold !important;

                    }

                    .sidebar__item li {
                        font-weight: bold;
                        list-style: none;
                        margin-bottom: 10px;
                    }

                    .counter {
                        width: 150px;
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .counter input {
                        width: 50px;
                        border: 0;
                        line-height: 30px;
                        font-size: 20px;
                        text-align: center;
                        background: #ff5757;
                        color: #fff;
                        appearance: none;
                        outline: 0;
                    }

                    .counter span {
                        display: block;
                        font-size: 25px;
                        padding: 0 10px;
                        cursor: pointer;
                        color: #ff5757;
                        user-select: none;
                    }
                </style>


            </div>




        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categorías</h4>

                        <ul>
                            {% for categoria in categorias %}
                            <li><a href="{{ categoria.id }}">{{ categoria.nombre }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-7">

                {% if query %}

                <h3>Resultados para la busqueda: {{ query }} </h3>

                {% endif %}



                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Ordenar por</span>
                                <select>
                                    <option value="0">Ordenar alfabeticamente A-Z</option>
                                    <option value="0">Ordenar alfabeticamente Z-A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">

                    <style>

                    </style>

                    <!-- Start Column 1 -->
                    {% for producto in productos %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <a class="product-item" href="{{ producto.id }}"
                            onclick="firstStepShop(event, '{{ producto.id }}')">
                            <img src="{{ producto.imagen_url.url }}" class="img-fluid product-thumbnail">
                            <h3 class="product-title">{{ producto.nombre }}</h3>
                            <strong class="product-price">${{ producto.precio }}</strong>

                            <div class="counter" id="counter-div-{{ producto.id }}" style="display: none;">
                                <span class="down" onClick='decreaseCount(event, this)'>-</span>
                                <input type="text" value="1">
                                <span class="up" onClick='increaseCount(event, this)'>+</span>
                            </div>

                            <span class="icon-cross" id="cross-icon-{{ producto.id }}">
                                <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    {% endfor %}

                    <!-- End Column 1 -->




                </div>


            </div>






        </div>
    </div>
</div>


<script>

    window.onload(updateOffcanvas());

    var carrito = {};

    function updateOffcanvas() {
        // Realiza una solicitud para obtener los datos del carrito
        fetch('/get_cart/')
            .then(response => response.json())
            .then(data => {
                // Obtén el cuerpo del offcanvas
                var offcanvasBody = document.querySelector('#offCanvasShoppingList .offcanvas-body');

                // Limpia el cuerpo del offcanvas
                offcanvasBody.innerHTML = '';

                // Agrega cada producto en el carrito al cuerpo del offcanvas
                for (var id in data) {
                    var producto = data[id];
                    var nombre = producto.nombre;
                    var precio = producto.precio;
                    var cantidad = producto.cantidad;

                    // Crea un nuevo elemento div para el producto
                    var div = document.createElement('div');
                    div.classList.add('offcanvas-product');
                    div.innerHTML = `
                        <h5>${nombre}</h5>
                        <p>Cantidad: ${cantidad}</p>
                        <p>Precio: ${precio}</p>
                    `;

                    // Agrega el div al cuerpo del offcanvas
                    offcanvasBody.appendChild(div);
                }
            });
    }

    function firstStepShop(e, id) {
        e.preventDefault();



        // Obtén los elementos por ID
        var crossIcon = document.getElementById('cross-icon-' + id);
        var counterDiv = document.getElementById('counter-div-' + id);

        // Oculta el icono de la cruz y muestra el div del contador
        crossIcon.style.display = 'none';
        counterDiv.style.display = 'block';

        // Realiza una solicitud fetch para agregar el producto al carrito
        fetch('/add_to_cart/', {
            method: 'POST',
            body: JSON.stringify({ 'product_id': id }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            // Actualiza la interfaz de usuario según sea necesario
            // Actualiza el offcanvas
            updateOffcanvas();
        });
    }

    function increaseCount(a, b) {
        var input = b.previousElementSibling;
        var value = parseInt(input.value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        input.value = value;

        // Realiza una solicitud fetch para actualizar la cantidad en el carrito
        var id = input.parentElement.parentElement.getAttribute('href');
        carrito[id] = value;
        fetch('/update_cart/', {
            method: 'POST',
            body: JSON.stringify({ 'product_id': id, 'quantity': value }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            // Actualiza la interfaz de usuario según sea necesario
            updateOffcanvas();
        });
    }

    function decreaseCount(a, b) {
        var input = b.nextElementSibling;
        var value = parseInt(input.value, 10);
        if (value > 1) {
            value = isNaN(value) ? 0 : value;
            value--;
            carrito[id] = value;
            input.value = value;

            // Realiza una solicitud fetch para actualizar la cantidad en el carrito
            var id = input.parentElement.parentElement.getAttribute('href');
            fetch('/update_cart/', {
                method: 'POST',
                body: JSON.stringify({ 'product_id': id, 'quantity': value }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                // Actualiza la interfaz de usuario según sea necesario
                updateOffcanvas();
            });
        }
    }


        function vaciarCarrito(){ 
        // Realiza una solicitud fetch para vaciar el carrito
        fetch('/empty_cart/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            // Vacía el objeto carrito
            carrito = {};

            // Actualiza el offcanvas
            updateOffcanvas();
        });
    }

</script>

{% endblock %}

{% block customJS %}
{% endblock %}