{% extends "layout.html" %}

{% load static %}

{% block tittle %}Tienda{% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="navegationLocation">

                    <h5><a href="{% url 'homeUser' %}">Inicio</a>/<span>Tienda</span></h5>

                </div>

                <style>
                    h4 {
                        color: #ff7373;
                        font-weight: bold;
                    }

                    h3 {
                        color: #2f2f2f;
                        font-weight: bold;
                    }

                    span {
                        color: #ff7373;
                        font-weight: bold;
                    }

                    .navegationLocation {
                        font-weight: bold;
                        color: #2f2f2f;
                    }

                    .navegationLocation span {
                        font-weight: bold !important;
                    }

                    .navigation h5 {
                        font-weight: bold;
                        color: #2f2f2f;
                    }

                    .navegationLocation a {
                        color: #2f2f2f;
                        text-decoration: none;
                    }

                    .navegationLocation a:hover {
                        font-weight: bold;
                        color: #ff7373;
                    }

                    .sidebar__item a {
                        color: #2f2f2f;
                        text-decoration: none;

                    }

                    .sidebar__item a:hover {
                        color: #ff7373 !important;
                        font-weight: bold !important;

                    }

                    .sidebar__item li {
                        font-weight: bold;
                        list-style: none;
                        margin-bottom: 10px;
                    }
                </style>


            </div>




        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categorías</h4>

                        <ul>
                            {% for categoria in categorias %}
                            <li><a href="{{ categoria.id }}">{{ categoria.nombre }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-7">

                {% if query %}

                <h3>Resultados para la busqueda: {{ query }} </h3>

                {% endif %}



                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Ordenar por</span>
                                <select>
                                    <option value="0">Ordenar alfabeticamente A-Z</option>
                                    <option value="0">Ordenar alfabeticamente Z-A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">

                    <style>

                    </style>

                    <!-- Start Column 1 -->
                    {% for producto in productos %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <a class="product-item" href="{{ producto.id }}">
                            <img src="{{ producto.imagen_url.url }}" class="img-fluid product-thumbnail">
                            <h3 class="product-title">{{ producto.nombre }}</h3>
                            <strong class="product-price">${{ producto.precio }}</strong>
                    
                            <div class="quantity-selector d-flex justify-content-between">
                                <button class="minus-btn btn btn-secondary" type="button" name="button">-</button>
                                <input type="text" name="name" value="1" class="form-control">
                                <button class="plus-btn btn btn-secondary" type="button" name="button">+</button>
                            </div>
                    
                            <span class="icon-cross">
                                <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                    <!-- End Column 1 -->


                </div>


            </div>






        </div>
    </div>
</div>

{% endblock %}

{% block customJS %}
{% endblock %}